body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  flex-direction: row;
}
nav > a {
  border: 1px solid black;
  padding: 20px 40px;
}

.counter-container {
  display: flex;
  flex-direction: column;
}

.counter-container > .counter-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 300px;
}

.counter-container > .counter-items > button {
  padding: 5px 10px;
}

.counter-container > .counter-reset {
  width: 100px;
  margin: 10px;
}
